<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="styles/about.css">
    <script src="../index.js" charset="UTF-8"></script>
</head>

<body>
    <div class="navbar bg-light py-3 border-bottom d-flex justify-content-between align-items-center px-4">
    <a class="navbar-brand d-flex align-items-center" href="/">
        <img src="images/signature.png" alt="App Logo" width="20" height="20" class="me-2">
        <span class="fs-5 fw-bold text-dark">ViewPoint</span>
    </a>

    <ul class="nav navbar-right align-items-center">
        <li class="nav-item">
            <a class="nav-link sections" href="/">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link sections" href="/about">About</a>
        </li>
        <li class="nav-item">
            <a class="nav-link sections" href="#">Contact</a>
        </li>
    </ul>

<div class="container">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
         <div class="col-10 col-sm-8 col-lg-6"> 
            <img src="images/about.jpg" class="aboutimg d-block mx-lg-auto img-fluid" 
            alt="Bootstrap Themes" loading="lazy">
         </div> 
         
       <div class="col-lg-6"> 
            <h1 class="about display-5 fw-bold text-body-emphasis lh-1 mb-3">About</h1> 
            <p class="lead">This blog started as a personal project to practice building dynamic web applications, and it has grown into a hub for knowledge sharing. Every post is crafted to be practical, easy to understand, and directly applicable. My goal is to make technology accessible, spark creativity, and encourage continuous learning.
                 Thank you for visiting—feel free to explore, learn, and share your thoughts!</p>
            
        </div>
       </div> 
    </div>
</div>    

</body>
</html>